body {
    background: none !important;
}
@keyframes open {
    from
    {
        top:-100%;
        
    
    }
    to{
    }
    
}
@keyframes close {
    from
    {
        top:-100%;
    
    }
    to{
        
    }
    
}
#form{
    
    display: flex;
    flex-direction: row ;
    justify-content: center;
}

.aziende {
    
    font-style: bold;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: royalblue;
    font-family: Arial, Helvetica, sans-serif;
    
}

#container {
        
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    color: royalblue;
    position: absolute;
    top: 0%;
    left: 50%;  
    transform: translate(-50%,50%);
    background-color: rgb(44, 44, 44);
    fill-opacity: 1;
    height: fit-content;
    width: fit-content;
    border: 2px solid aliceblue;
    border-radius: 12px;

}
#container.animate{
    animation-name: open;
    animation-duration: 1000ms;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(.13,1.71,.81,1.2); 
}
#container.disappear{
    animation-direction: reverse;
    animation-name: close;
    animation-duration: 1000ms;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(.13,1.71,.81,1.2); 
}

